<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoCAD.NET" version="24.1.51000" targetFramework="net472" />
  <package id="AutoCAD.NET.Core" version="24.1.51000" targetFramework="net472" />
  <package id="AutoCAD.NET.Model" version="24.1.51000" targetFramework="net472" />
  <package id="Extended.Wpf.Toolkit" version="4.1.0" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.31" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net472" />
</packages>